In [1]:
class Student:
    def __init__(self,rollNo,name):
        self.rollNo = rollNo
        self.name=name

    def display(self):
        print("Roll No is",self.rollNo,"Name is",self.name)

    def getName(self):
        return self.name

In [2]:
s1 = Student(1,"Rachael")

In [3]:
s1.display()

Roll No is 1 Name is Rachael

In [4]:
s1.getName()

'Rachael'

In [ ]:
#Inheritance OOP--properties/functions

In [5]:
class Parent1:
    def __init__(self,p1):
        self.p1 =p1
    def display(self):
        print("Value of p1 is",self.p1)

In [7]:
class Child1(Parent1):
    def __init__(self,p1,p2):
        Parent1.__init__(self,p1) #Parent class constructor called
        self.p2=p2

    def display(self):
        print("p1 is",self.p1,"p2 is",self.p2)

In [8]:
c1= Child1(22,33)
c1.display()

p1 is 22 p2 is 33

In [ ]:
#Python supports multiple inheritance
#Parent3 --display
#Parent4----display
#Child

In [9]:
class Parent3:
    def __init__(self,p1):
        self.p1=p1
    def display(self):
        print("From Parent3 --->",self.p1)

class Parent4:
    def __init__(self,p2):
        self.p2=p2
    def display(self):
        print("From Parent4---->",self.p2)

class Child4(Parent3,Parent4):
    def __init__(self,p1,p2):
        Parent3.__init__(self,p1)
        Parent4.__init__(self,p2)

In [10]:
child1 = Child4(22,33)

In [11]:
child1.display()

From Parent3 ---> 22

In [12]:
class PrivateEg:
    def __init__(self,p1,p2):
        self.p1=p1
        self.__p2=p2#two underscores indicates private

    def display(self):
        print("Private is",self.__p2)
        print("Public is ",self.p1)

    def __private(self):
        print("i am a private function")

In [13]:
p1= PrivateEg(11,22)
p1.display()

Private is 22
Public is  11

In [14]:
p1._PrivateEg__p2

22

In [15]:
p1._PrivateEg__private()

i am a private function

In [20]:
class SetterGetter:
    def __init__(self):
        self._age=0
    @property
    def age(self):
        print("getter of age called")
        return self._age
    @age.setter
    def age(self,a):
        print("setter of age called")
        self._age=a

In [24]:
s1 = SetterGetter()

In [25]:
s1.age = 22

setter of age called

In [26]:
s1.age

getter of age called

22

In [27]:
class Example1:
    def __init__(self,a,b):
        self.a=a
        self.b=b

In [28]:
e1 = Example1(22,33)

In [29]:
e1.a

22

In [30]:
e1.b

33

In [31]:
delattr(e1,"b")

In [32]:
e1.a

22

In [33]:
e1.b

AttributeError: 'Example1' object has no attribute 'b'

In [34]:
del e1.a

In [35]:
class DestructorEg:
    def __init__(self,a):
        self.a=a
    def __del__(self):
        del self.a
        print("Cleaning up")

In [36]:
obj1 = DestructorEg(22)

In [37]:
del obj1

Cleaning up

In [42]:
class StringRepresentation:
    def __init__(self,a,b):
        self.a=a
        self.b=b

    def __repr__(self):
        return f"StringRepresentation('{self.a}','{self.b}')"

    def __str__(self):
        return "a={}, b={}".format(self.a,self.b)

In [43]:
res = StringRepresentation(22,33)

In [44]:
print(res)

a=22, b=33

In [45]:
print(str(res))

a=22, b=33

In [46]:
print(repr(res))

StringRepresentation('22','33')

In [51]:
class ObjectCmp:
    def __init__(self,a,b):
        self.a =a
        self.b = b
    def __eq__(self,other):
        print("Object comparision")
        return (self.a==other.a and self.b ==other.b)

In [53]:
c1 = ObjectCmp(22,33)
c2 = ObjectCmp(22,33)
print(c1==c2)
print(c1==c1)

False
True

In [50]:
c3 = ObjectCmp(11,11)
print(c3==c1)

Object comparision
False

In [57]:
class Point:
    def __init__(self,x,y):
        self.x = x
        self.y = y

    def __lt__(self,other):
        print("Inside less")
        v1 = self.x * self.x +self.y *self.y
        v2 = other.x*other.x+ other.y*other.y
        return v1 < v2

    def __gt__(self,other):
        print("Inside greater")
        v1 = self.x * self.x +self.y *self.y
        v2 = other.x*other.x+ other.y*other.y
        return v1 > v2

In [58]:
p1 = Point(10,3)
p2 = Point(11,1)
print(p1<p2)

Inside less
True

In [59]:
print(p1 > p2)

Inside greater
False

In [60]:
class Complex:
    def __init__(self,real,img):
        self.real =real
        self.img=img
    def __add__(self,other):
        r1 = self.real + other.real
        i1 = self.img + other.img
        return Complex(r1,i1)

    def __str__(self):
        return "Real {} Img {} ".format(self.real,self.img)

In [61]:
c1 = Complex(11,22)
c2 = Complex(1,3)

In [63]:
c3 = c1 + c2

In [65]:
print(c3)

Real 12 Img 25

In [66]:
import pickle

In [68]:
with open ("C://training//complex.ser","wb") as op:
    pickle.dump(c3,op)

In [69]:
with open("C://training//complex.ser","rb") as ip:
    retrived = pickle.load(ip)
    print(retrived.real)
    print(retrived.img)

12
25

In [70]:
class ExampleDict:
    def __init__(self,a,b):
        self.a=a
        self.b=b
    def retrive(self,field):
        return self.__dict__.get(field,'Attribute not found')

In [71]:
eg1 = ExampleDict(22,33)

In [72]:
eg1.retrive('a')

22

In [73]:
eg1.c = 32

In [74]:
eg1.c

32

In [75]:
class Player:
    __slots__ =['name','age']#isthe ensure no new properties other than one set is present
    def __init__(self,name,age):
        self.name=name
        self.age = age

In [76]:
p1 = Player("1234",11)

In [77]:
p1.address = 'London'

AttributeError: 'Player' object has no attribute 'address'

In [78]:
class StaticClass:
    @staticmethod
    def calcRadius(r):
        return 3.14*r*r

In [79]:
StaticClass.calcRadius(33)

3419.46

In [ ]:
#Pandas third party library
#ETL
#Excel sheet 
#Row Row
#Column Series
#Collection of series is known As Data frame

In [81]:
import pandas as pd
s1= pd.Series([1,2,3,4])

In [82]:
s1

0    1
1    2
2    3
3    4
dtype: int64

In [83]:
s1.index

RangeIndex(start=0, stop=4, step=1)

In [84]:
s1.values

array([1, 2, 3, 4], dtype=int64)

In [85]:
s1 = pd.Series([1,2,3,4])
s2 = pd.Series([22,33,44,55])

In [86]:
df1 = pd.DataFrame({"col1":s1,"col2":s2})

In [87]:
df1

   col1  col2
0     1    22
1     2    33
2     3    44
3     4    55

In [88]:
iris=pd.read_csv("https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv")

In [89]:
iris.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [90]:
iris.tail()

     sepal.length  sepal.width  petal.length  petal.width    variety
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

In [91]:
iris.shape

(150, 5)

In [92]:
iris.columns

Index(['sepal.length', 'sepal.width', 'petal.length', 'petal.width',
       'variety'],
      dtype='object')

In [93]:
iris.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [94]:
iris['variety'].unique()

array(['Setosa', 'Versicolor', 'Virginica'], dtype=object)

In [95]:
iris['variety'].value_counts()

variety
Setosa        50
Versicolor    50
Virginica     50
Name: count, dtype: int64

In [96]:
iris.to_csv("C://training//iris.csv")

In [97]:
iris.to_csv("C://training//iris.csv",index=False)

In [98]:
iris.to_excel("C://training//iris.xlsx")

In [99]:
iris.to_json("C://training//iris.json")

In [101]:
jsonData=pd.read_json("https://jsonplaceholder.typicode.com/todos")

In [102]:
jsonData

     userId   id                                              title  completed
0         1    1                                 delectus aut autem      False
1         1    2                 quis ut nam facilis et officia qui      False
2         1    3                                fugiat veniam minus      False
3         1    4                                   et porro tempora       True
4         1    5  laboriosam mollitia et enim quasi adipisci qui...      False
..      ...  ...                                                ...        ...
195      10  196                consequuntur aut ut fugit similique       True
196      10  197                  dignissimos quo nobis earum saepe       True
197      10  198                       quis eius est sint explicabo       True
198      10  199                       numquam repellendus a magnam       True
199      10  200                       ipsam aperiam voluptates qui      False

[200 rows x 4 columns]

In [103]:
iris

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [104]:
iris['sepal.length'].sum()

876.5

In [105]:
iris['sepal.length'].mean()

5.843333333333334

In [106]:
iris['sepal.length'].std()

0.828066127977863

In [107]:
iris['sepal.length'].std()

0.828066127977863

In [108]:
iris[['sepal.length','sepal.width']].sum()

sepal.length    876.5
sepal.width     458.6
dtype: float64

In [109]:
iris.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [110]:
iris.iloc[2:5,1:3]

   sepal.width  petal.length
2          3.2           1.3
3          3.1           1.5
4          3.6           1.4

In [111]:
iris['variety_new'] = iris['variety'].str.upper()

In [112]:
iris.head()

   sepal.length  sepal.width  petal.length  petal.width variety variety_new
0           5.1          3.5           1.4          0.2  Setosa      SETOSA
1           4.9          3.0           1.4          0.2  Setosa      SETOSA
2           4.7          3.2           1.3          0.2  Setosa      SETOSA
3           4.6          3.1           1.5          0.2  Setosa      SETOSA
4           5.0          3.6           1.4          0.2  Setosa      SETOSA